<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ESIR x EESAB</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./ihm/style.css">

    <!-- Javascript -->
    <script type="text/javascript" src="./libs/socket.io.slim.js" charset="utf-8"></script>
    <script type="text/javascript" src="./libs/vue.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./libs/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./libs/svg.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./libs/svg.draggable.min.js" charset="utf-8"></script>

    <script type="text/javascript" src="./libs/caress-0.1.0.min.js"></script>

    <script type="text/javascript" src="./libs/alloy_finger.js"></script>
    <script type="text/javascript" src="./libs/alloy_finger.vue.js"></script>

    <script type="text/javascript" src="./libs/openseadragon/openseadragon.js" charset="utf-8"></script>


  </head>
  <body>
    <div id="rotationWrap">

      <div  id="oracle"
            v-bind:style="style"
            v-finger:touch-start="listen">
        <div>
          <p>{{wait}}</p>
        </div>
      </div>

      <div  id="montageDialogue"
            v-bind:style="style"
            class="full-border"
            v-finger:touch-start="start"
            v-finger:touch-end="end"
            v-finger:touch-cancel="end"
            v-finger:press-move="move"
            v-on:mousedown.left="start"
            v-on:mouseup.left="end"
            v-on:mousemove.left="move">
        <div>
          <input autofocus="true" id="montageName" class="full-border" v-model="name" type="text" placeholder="Titre pour le nouveau montage">
        </div>
        <div>
          <button class="full-border two-button" type="submit" v-on:click="onOkPressed" v-finger:tap="onOkPressed">Créer</button>
          <button class="full-border two-button" type="submit" v-on:click="onCancelPressed" v-finger:tap="onCancelPressed">Annuler</button>
        </div>

      </div>

      <div id="rotationButtons" v-bind:style="style">
        <div class="rotationButton" id="rotationButtonTopLeft" v-bind:style="buttonStyleTopLeft" v-on:click="onRotatePressed" v-finger:tap="onRotatePressed">

        </div>
        <div class="rotationButton" id="rotationButtonTopRight" v-bind:style="buttonStyleTopRight" v-on:click="onRotatePressed" v-finger:tap="onRotatePressed">

        </div>
        <div class="rotationButton" id="rotationButtonBottomLeft" v-bind:style="buttonStyleBottomLeft" v-on:click="onRotatePressed" v-finger:tap="onRotatePressed">

        </div>
        <div class="rotationButton" id="rotationButtonBottomRight" v-bind:style="buttonStyleBottomRight" v-on:click="onRotatePressed" v-finger:tap="onRotatePressed">

        </div>
      </div>

      <div  id="keyboard"
            v-bind:style="style"
            v-finger:touch-start="start"
            v-finger:touch-end="end"
            v-finger:touch-cancel="end"
            v-finger:press-move="move"
            v-on:mousedown.left="start"
            v-on:mouseup.left="end"
            v-on:mousemove.left="move">
        <template v-for="key in keys">
          <div class="key" v-bind:style="styleKey" v-bind:id="key.label" v-on:click="onKeyPressed" v-finger:tap="onKeyPressed">
            <div>
              <p>{{key.letter}}</p>
            </div>

          </div>
        </template>
      </div>

      <div id="mainStrip" v-bind:style="style">
        <div v-bind:style="whiteSpace">

        </div>
        <div id="montage" v-bind:style="buttonStyle" v-on:click="onNewMontagePressed" v-finger:tap="onNewMontagePressed">

        </div>
        <div id="exportMontage" v-bind:style="buttonStyle" v-on:click="onExportMontagePressed" v-finger:tap="onExportMontagePressed">

        </div>
        <div id="notes" v-bind:style="buttonStyle" v-on:click="onAddNotePressed" v-finger:tap="onAddNotePressed">

        </div>
        <div id="vocal" v-bind:style="buttonStyle" v-on:click="onEnableVocalPressed" v-finger:tap="onEnableVocalPressed">

        </div>
      </div>
      <div id="montageStrip" v-bind:style="style">
        <template v-for="montage in montages">
          <div v-bind:style="montageNameStyle">
            <div class="verticalText">
              <p>{{montage.name}}</p>
            </div>
          </div>
        </template>
      </div>

      <div  id="montageShutter"
            v-bind:style="style"
            v-on:wheel="wheelOnMontages"
            v-finger:touch-start="startOnMontages"
            v-finger:touch-end="endOnMontages"
            v-finger:touch-cancel="endOnMontages"
            v-finger:press-move="moveOnMontages"
            v-on:mousedown.left="startOnMontages"
            v-on:mouseup.left="endOnMontages"
            v-on:mousemove.left="moveOnMontages"
            v-finger:rotate="rotateOnImage"
            v-finger:tap="tap">
        <template v-for="montage in montages">
          <div v-bind:style="styleMontage" v-bind:id="montage.name" v-on:dragover="dragOverMontage" v-on:drop="dropMontage" v-finger:touch-end="endOnMontage">
          </div>
        </template>
      </div>

      <div  id="zoom"
            v-bind:style="style"
            v-finger:double-tap="toggleForeground"
            v-finger:tap="tap"
            v-finger:touch-start="start"
            v-finger:touch-end="end"
            v-finger:touch-cancel="end"
            v-finger:press-move="move"
            v-finger:rotate="rotate"
            v-finger:long-tap="longTap"
            v-on:mousedown.left="start">
        <div  id="marker1"
              v-bind:style="styleMarker1"
              v-finger:touch-start="startOnMarker1"
              v-finger:touch-end="endOnMarker1"
              v-finger:touch-cancel="endOnMarker1"
              v-finger:press-move="moveOnMarker1"
              v-on:mousedown.left="startOnMarker1"
              v-on:mouseup.left="endOnMarker1"
              v-on:mousemove.left="moveOnMarker1"
              class="marker">
        </div>
        <div  id="marker2"
              v-bind:style="styleMarker2"
              v-finger:touch-start="startOnMarker2"
              v-finger:touch-end="endOnMarker2"
              v-finger:touch-cancel="endOnMarker2"
              v-finger:press-move="moveOnMarker2"
              v-on:mousedown.left="startOnMarker2"
              v-on:mouseup.left="endOnMarker2"
              v-on:mousemove.left="moveOnMarker2"
              class="marker">
        </div>
      </div>

      <div  id="libraryStrip"
            v-finger:touch-start="start"
            v-finger:touch-end="end"
            v-finger:touch-cancel="end"
            v-finger:press-move="move"
            v-on:mousedown.left="start"
            v-on:mouseup.left="end"
            v-on:mousemove.left="move"
            v-bind:style="style">
        <template v-for="book in books">
          <div v-bind:style="bookNameStyle">
            <div class="verticalText">
              <p>{{book.name}}</p>
            </div>
          </div>
        </template>
        <div v-bind:style="bookNameStyle">
          <div class="verticalText">
            <p>bonus</p>
          </div>
        </div>
      </div>

      <div  id="libraryShutter"
            v-bind:style="style"
            v-on:wheel="wheelOnBooks"
            v-finger:touch-start="startOnBooks"
            v-finger:touch-end="endOnBooks"
            v-finger:touch-cancel="endOnBooks"
            v-finger:press-move="moveOnBooks"
            v-on:mousedown.left="startOnBooks"
            v-on:mouseup.left="endOnBooks"
            v-on:mousemove.left="moveOnBooks">
        <template v-for="book in books">
          <div  v-bind:id="book.name"
                v-bind:style="styleBook"
                v-on:wheel="wheelOnBook"
                v-finger:touch-start="startOnBook"
                v-finger:touch-end="endOnBook"
                v-finger:touch-cancel="endOnBook"
                v-finger:press-move="moveOnBook"
                v-on:mousedown.left="startOnBook"
                v-on:mouseup.left="endOnBook"
                v-on:mousemove.left="moveOnBook">

            <template v-for="page in book.pages">
              <div v-bind:style="stylePage" >
                <img  v-bind:id="page.id"
                      v-bind:src="page.thumbnail"
                      v-bind:alt="page.description"
                      v-bind:style="styleImage"
                      v-finger:long-tap="longTap"
                      v-on:dragstart="dragPage"
                      v-on:mousedown.left="mouseDownPage"
                      v-on:dblclick="zoom"
                      v-finger:touch-start="tap">
              </div>
            </template>
          </div>
        </template>
        <div  id="bonus"
              v-bind:style="styleBook"
              v-on:wheel="wheelOnBook"
              v-finger:touch-start="startOnBook"
              v-finger:touch-end="endOnBook"
              v-finger:touch-cancel="endOnBook"
              v-finger:press-move="moveOnBook"
              v-on:mousedown.left="startOnBook"
              v-on:mouseup.left="endOnBook"
              v-on:mousemove.left="moveOnBook">

              <template v-for="page in bonus">
                <div v-bind:style="stylePage" >
                  <img  v-bind:id="page.name"
                        v-bind:src="page.thumbnail"
                        v-bind:alt="page.description"
                        v-bind:style="styleImage"
                        v-finger:long-tap="longTap"
                        v-on:dragstart="dragPage"
                        v-on:mousedown.left="mouseDownPage"
                        v-on:dblclick="zoom"
                        v-finger:touch-start="tap">
                </div>
              </template>
        </div>
      </div>
    </div>



    <div id="exportArea">

    </div>


    <script type="text/javascript" src="./ihm/app.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/oracle.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/keyboard.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/rotationButtons.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/montageDialogue.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/mainStrip.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/montageStrip.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/libraryStrip.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/montageShutter.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/libraryShutter.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/zoom.js" charset="utf-8"></script>
  </body>
</html>
