<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ESIR x EESAB</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./ihm/style.css">

    <!-- Javascript -->
    <script type="text/javascript" src="./libs/vue.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./libs/raphael.min.js" charset="utf-8"></script>



  </head>
  <body>

    <div id="mainStrip" v-bind:style="style">
    </div>

    <div id="montageStrip" v-bind:style="style">
    </div>

    <div id="montageShutter" v-bind:style="style" v-on:touch="touch" v-on:wheel="onWheel" v-on:mousedown.left="mouseDown" v-on:mouseup.left="mouseUp" v-on:mousemove.left="mouseMove">
      <template v-for="montage in montages">
        <div v-bind:style="styleMontage" v-bind:id="montage.name" v-on:dragover="dragOverMontage" v-on:drop="dropMontage">
        </div>
      </template>
    </div>

    <div id="libraryStrip"v-on:click="click" v-on:touch="touch" v-on:mousedown.left="mouseDown" v-on:mouseup.left="mouseUp" v-on:mousemove.left="mouseMove" v-bind:style="style">
    </div>

    <div id="libraryShutter" v-bind:style="style">
      <template v-for="book in books">
        <div v-bind:style="styleBook" v-bind:id="book.name" v-on:touch="touch" v-on:wheel="onWheel" v-on:mousedown.left="mouseDown" v-on:mouseup.left="mouseUp" v-on:mousemove.left="mouseMove">
          <template v-for="page in book.pages">
            <div v-bind:style="stylePage" >
              <img v-bind:id="page.id" v-bind:src="page.src" v-bind:alt="page.description" v-bind:style="styleImage" v-on:dragstart="dragPage" v-on:mousedown.left="mouseDownPage" v-on:touch="touchPage">
            </div>
          </template>
        </div>
      </template>
    </div>


    <script type="text/javascript" src="./ihm/app.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/mainStrip.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/montageStrip.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/libraryStrip.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/montageShutter.js" charset="utf-8"></script>
    <script type="text/javascript" src="./ihm/libraryShutter.js" charset="utf-8"></script>
  </body>
</html>
