body{
  padding:0px;
  margin:0px;
  background: #000000;
}

#marker1{
  background: darkorange;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#marker2{
  background: darkcyan;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#mainStrip{
  background: white;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
#montageStrip{
  background: #231f20;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border-left: 2px solid white;
  border-right: 2px solid white;

}
#montageShutter{
  background: #231f20;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
#zoom{
  background: #231f20;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
#libraryStrip{
  background: #231f20;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border-left: 2px solid white;
  border-right: 2px solid white;

}
#libraryShutter{
  background: #231f20;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.rotated{
  transform-origin: 50% 50% 0;
  transform: rotate(180deg);
}

#montage{
  background-image: url(./montage.svg), none;
  background-repeat: no-repeat;
  background-position: center;
}

#notes{
  background-image: url(./notes.svg), none;
  background-repeat: no-repeat;
  background-position: center;
}

#vocal{
  background-image: url(./vocal.svg), none;
  background-repeat: no-repeat;
  background-position: center;
}

#rotationButtons{
  z-index:20;
  pointer-events:none;
}

.rotationButton{
  background-image: url(./turn.svg), none;
  background-repeat: no-repeat;
  background-position: center;
    z-index:30;
    pointer-events:all;
}

.verticalText{
	transform-origin: left top 0;
  position: relative;
    top: 50%;
    left:50%;
    transform: translateY(-50%);
    transform: translateX(-50%);

}

p{
  display: block;
  margin: 0px;
}

#keyboard{
  background: #231f20;
  margin: 0px;
  padding: 0px;
}

.full-border{
  background: #231f20;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 2px solid white;
  color:white;
  padding: 0px;
}

.two-button{
  float:left;
}

.key{
  background: #231f20;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 2px solid white;
  color:white;
  padding: 0px;
}

.key div{
  margin: 0px;
  padding: 0px;
  transform-origin: top left 0;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.key p {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.verticalText p {
  transform-origin: 50% 50% 0;
  transform: rotate(90deg);
}

#LibraryShutter {
  /*CSS transitions*/
-o-transition-property: none !important;
-moz-transition-property: none !important;
-ms-transition-property: none !important;
-webkit-transition-property: none !important;
transition-property: none !important;
/*CSS transforms*/
-o-transform: none !important;
-moz-transform: none !important;
-ms-transform: none !important;
-webkit-transform: none !important;
transform: none !important;
/*CSS animations*/
-webkit-animation: none !important;
-moz-animation: none !important;
-o-animation: none !important;
-ms-animation: none !important;
animation: none !important;
}

.mainVueComponant{

}
