<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ESIR x EESAB</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="slides.css">

    <!-- Javascript -->

    <script type="text/javascript" src="base.js" charset="utf-8"></script>


    <script src="http://localhost:8098"></script>

    <script type="text/javascript" src="../libs/socket.io.slim.js" charset="utf-8"></script>

    <script type="text/javascript" src="../libs/vue.js" charset="utf-8"></script>

    <script type="text/javascript" src="../libs/svg.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../libs/svg.draggable.min.js" charset="utf-8"></script>

    <script type="text/javascript" src="../libs/caress-0.1.0.js"></script>

    <script type="text/javascript" src="../libs/alloy_finger.js"></script>
    <script type="text/javascript" src="../libs/alloy_finger.vue.js"></script>

    <script type="text/javascript" src="vue-draggable.js" charset="utf-8"></script>
    <script type="text/javascript" src="vue-simple-gesture.js" charset="utf-8"></script>
    <script type="text/javascript" src="vue-size-changed.js" charset="utf-8"></script>
    <script type="text/javascript" src="vue-slides.js" charset="utf-8"></script>
    <script type="text/javascript" src="vue-dialogue.js" charset="utf-8"></script>

    <script type="text/javascript" src="../libs/openseadragon/openseadragon.js" charset="utf-8"></script>


  </head>
  <body>
    <div  id="splash">
      <div>
        <p id="splash-text"></p>
      </div>
    </div>
    <script type="text/javascript" src="splash.js" charset="utf-8"></script>


    <div id="rotationWrap">

      <div id="alert" v-simple-gesture:tap="hide" :error="error" :warning="warning" :succes="succes" v-show="active">
        <div>
          <p>{{msg}}</p>
        </div>
      </div>

      <div id="discretAlert" v-simple-gesture:tap="hide" :error="error" :warning="warning" :succes="succes" :active="active">
          <p>{{msg}}</p>
      </div>

      <div  id="dialogue"
            class="full-border"
            v-show="active"
            v-draggable="{containment:'parent'}">
            <dialogue :entries="entries" v-on:send="send" v-on:cancel="cancel" send-text="accept" cancel-text="cancel" :send-pressed="okPressed"></dialogue>
        <!--<div>
          <input  autofocus="true"
                  id="name"
                  class="full-border"
                  v-model="name"
                  type="text"
                  placeholder="Un ptit nom s'il vous plaît ? (:">
        </div>
        <div>
          <button   class="full-border two-button"
                    type="submit"
                    v-on:click="onOkPressed"
                    v-finger:tap="onOkPressed">
                    Créer
          </button>
          <button   class="full-border two-button"
                    type="submit"
                    v-on:click="onCancelPressed"
                    v-finger:tap="onCancelPressed">
                    Annuler
          </button>
        </div>-->

      </div>

      <div id="rotationButtons">
        <div  class="rotationButton"
              id="rotationButtonTopLeft"
              v-on:click="onRotatePressed"
              v-finger:tap="onRotatePressed">

        </div>
        <div  class="rotationButton"
              id="rotationButtonTopRight"
              v-on:click="onRotatePressed"
              v-finger:tap="onRotatePressed">

        </div>
        <div  class="rotationButton"
              id="rotationButtonBottomLeft"
              v-on:click="onRotatePressed"
              v-finger:tap="onRotatePressed">

        </div>
        <div  class="rotationButton"
              id="rotationButtonBottomRight"
              v-on:click="onRotatePressed"
              v-finger:tap="onRotatePressed">

        </div>
      </div>

      <div  id="keyboard"
            v-show="active"
            v-draggable="{containment:'parent'}">
        <template v-for="key in keys">
          <div class="key" v-bind:id="key.label" v-simple-gesture:tap="onKeyPressed">
            <div>
              <p>{{key.letter}}</p>
            </div>

          </div>
        </template>
      </div>

      <div id="mainStrip">
        <div id="buttons">
          <div id="buttons_top">
            <div  id="activate_voice"
                  class="button"
                  v-on:click="onEnableVocalPressed"
                  v-finger:tap="onEnableVocalPressed"></div>
            <div  id="voice_filters_info">
              <span>Filtre actif &mdash;</span>
              <span>{{filtre_actif}}</span>
            </div>
          </div>
          <div  id="buttons_bottom">
            <div  id="title">ACCESS TO BOOKS</div>
            <div  id="add_montage"
                  class="button"
                  v-on:click="onNewMontagePressed"
                  v-finger:tap="onNewMontagePressed"></div>
            <div  id="add_post-it"
                  class="button"
                  v-on:click="onAddPostIt"
                  v-finger:tap="onAddPostIt"></div>
            <div  id="export_montage"
                  class="button"
                  v-on:click="onExportMontagePressed"
                  v-finger:tap="onExportMontagePressed"></div>

          </div>
        </div>
      </div>

      <div  id="zoom"
            class="full-space"
            v-simple-gesture:tap="tap"
            v-simple-gesture:press-move="{start:start,move:move,end:end,leave:end}"
            v-simple-gesture:long-tap="longTap"
            v-finger:rotate="rotate"
            v-finger:pinch="zoom"
            v-show="active">
        <div id="zoom-container">

        </div>
        <div  id="marker1"
              class="marker"
              v-draggable="{containment:'parent'}">
        </div>
        <div  id="marker2"
              class="marker"
              v-draggable="{containment:'parent'}">
        </div>
      </div>


      <div  id="montageStrip">
        <slides id="montages-titles-container"
                :lock="true"
                :pos=0
                ref="montageStripSlides">

          <template v-for="montage in montages">
            <slide aclass="label-container" :data="{name:montage.name}" :on-tap="showDescription">
                <div class="centered-label">
                  <label>{{montage.name}}</label>
                </div>
            </slide>
          </template>

        </slides>
      </div>

      <div class="global_container">

        <div id="montageShutter" class="space" v-finger:rotate="rotateOnImage" v-finger:pinch="pinchOnImage">
          <slides id="montages-container"
                  :on-slide="selectedMontageChanged"
                  :pos=0
                  ref="montageShutterSlides">
            <template v-for="montage in montages">
              <slide>
                <div v-bind:id="montage.name">
                </div>
              <slide>
            </template>
          </slides>
        </div>

          <div  id="libraryStrip"
              v-draggable="{axis:'x',containment:'parent',drag:move,end:end}">
          <slides id="library-books-titles-container"
                  :lock="true"
                  :pos=0
                  ref="libraryStripSlides">

            <template v-for="book in books">
              <slide aclass="label-container">
                  <div class="centered-label">
                    <label>{{book.name}}</label>
                  </div>
              </slide>
            </template>

            <slide aclass="label-container">
                <div class="centered-label">
                  <label>Annexes</label>
                </div>
            </slide>

          </slides>
        </div>

        <div  id="libraryShutter"
              class="space">
          <slides id="library-books-container"
                  :pos="0"
                  :on-slide="selectedBookChanged">
            <template v-for="book in books">
              <slide>
                <div class="library-book-container">
                  <slides :id="book.name"
                          :horizontal="true"
                          :on-slide="updateDescription"
                          :drag="true">
                    <template v-for="page in book.pages">
                      <slide  aclass="book_page"
                              :data="page"
                              :on-long-tap="toMontage"
                              :on-double-tap="zoom" >
                        <img :id="page.id" v-bind:src="page.thumbnail" draggable="false">
                      </slide>
                    </template>
                  </slides>
                  <label class="book_label">
                    <span class="book_name">{{book.name}}</span>
                    <span class="page_ref" :id="book.name+'_page_description'"></span>
                  </label>
                </div>
              <slide>
            </template>
            <slide>
              <div v-if="(bonus.length > 0)" id="bonus_container" class="library-book-container">
                <slides id="bonus"
                        :horizontal="true"
                        :on-slide="updateDescription"
                        :drag="true">
                  <template v-for="page in bonus">
                    <slide  aclass="book_page"
                            :data="page"
                            :on-long-tap="toMontage"
                            :on-double-tap="zoom" >
                      <img :id="page.id" v-bind:src="page.thumbnail" draggable="false">
                    </slide>
                  </template>
                </slides>
                <label  class="book_label">
                  <span class="book_name">{{selectedBonusId}}</span>
                  <span class="page_ref">{{selectedBonusDescription}}</span>
                </label>
              </div>
            <slide>
          </slides>
        </div>
      </div>

    </div>

    <div id="montageIO">

    </div>

    <script type="text/javascript" src="app.js" charset="utf-8"></script>
    <script type="text/javascript" src="alert.js" charset="utf-8"></script>
    <script type="text/javascript" src="discretAlert.js" charset="utf-8"></script>
    <script type="text/javascript" src="keyboard.js" charset="utf-8"></script>
    <script type="text/javascript" src="rotationButtons.js" charset="utf-8"></script>
    <script type="text/javascript" src="dialogue.js" charset="utf-8"></script>
    <script type="text/javascript" src="mainStrip.js" charset="utf-8"></script>
    <script type="text/javascript" src="montageStrip.js" charset="utf-8"></script>
    <script type="text/javascript" src="libraryStrip.js" charset="utf-8"></script>
    <script type="text/javascript" src="montageShutter.js" charset="utf-8"></script>
    <script type="text/javascript" src="libraryShutter.js" charset="utf-8"></script>
    <script type="text/javascript" src="zoom.js" charset="utf-8"></script>
  </body>
</html>
