.slides-container{
  overflow: hidden;
  white-space: nowrap;
}

.slides{
  position: relative;
  left:0px;
  top:0px;
  transition: left 2s, top 2s;
  transition-timing-function: ease;
}

.slides[is-dragged]{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.slide{
}

.slides-container[horizontal] .slide{
  display: inline-block;
}
