html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	user-select: none;
	-webkit-user-select: none;
}

html, body {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	background-color:black;
}

::-webkit-scrollbar {
    display: none;
}
/**/

:root {
	--bars-width: 2vw;
  --number-of-books-visible:3;
	--library-margin:30px;
	--library-height:calc(100vh - 2 * var(--library-margin));
	--height-book: calc(var(--library-height) / var(--number-of-books-visible));
	--height-page:calc(var(--height-book) - 30px);
}

/* LES STYLES COMMENCENT ICI */
@font-face {
	font-family:"Roboto";
	src:url("../resources/fonts/Roboto-Regular.ttf") format("ttf");
	font-style:normal;
	font-weight:400;
}

@font-face {
	font-family:"Roboto";
	src:url("../resources/fonts/Roboto-Italic.ttf") format("ttf");
	font-style:italic;
	font-weight:400;
}

body {
	font-family:"Roboto", sans-serif;
	font-size: 1rem;
	color:white;
	overflow:hidden;
	text-transform: uppercase;
}

/*GLOBAL UI*/

.global_container {
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	width: 96vw;
}

#buttons {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	width:var(--bars-width);
	background-color:white;
	color:black;
	z-index:10;
}

#buttons_bottom {
	position: absolute;
	bottom:0px;
}

#voice_filters_info, #title {
	position:absolute;
	top:30px;
	height:10px;
	width:800px;
	left:calc(var(--bars-width)/2 + 3px - 800px);
	transform: rotate(-90deg);
	transform-origin: bottom right;
	white-space: nowrap;
	text-align: right;
}

.button {
	position:relative;
	width:var(--bars-width);
	height:var(--bars-width);
}

#title {
	top: -20px;
	text-align: left;
	transform-origin: bottom left;
	left: calc(var(--bars-width)/2 + 3px);
}


.space {
	cursor:crosshair;
}

.full-space {
	position:absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
	cursor:crosshair;
}

/* IO AREA : used to create the svg that will be export  */

#montageIO{
  display: none;
}

/* DIALOGUE */

#dialogue{
  background: black;
  margin: 0px;
  padding: 5px;
  z-index:90;
  transform-origin: left top 0;
  position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}

#dialogue div{
	margin:1px;
}

#dialogue .vue-dialogue-final {
	position: relative;
	left:50%;
	transform: translateX(-50%);
}

#dialogue .vue-dialogue-input {
	color: white;
	background: black;
	border: 1px solid white;
	margin-bottom: 10px;
}

#dialogue .vue-dialogue-textarea {
	min-height: 3vh;
	color: white;
	background: black;
	border: 1px solid white;
	margin-bottom: 10px;
}

#dialogue .vue-dialogue-radio {
	background: black;
	border-color: white;
}

#dialogue .vue-dialogue-radio-area {
	margin-bottom: 10px;

}

#dialogue .vue-dialogue-form-send, .vue-dialogue-form-cancel{
	color: white;
	background: black;
	border: 1px solid white;
	text-transform: uppercase;
}




/* ZOOM */

#zoom{
  background: black;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  z-index: 50;
}

#zoom-container{
	height: 100%;
	width: 100%;
}

#marker1{
  background: white;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  width:var(--bars-width);
  height:var(--bars-width);
  z-index: 50;
	opacity: 1;
	transition: opacity .3s ease-out;
}

#marker1[is-dragged]{
	opacity: 0.6;
}

#marker2{
  background: white;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width:var(--bars-width);
  height:var(--bars-width);
  z-index: 50;
	opacity: 1;
	transition: opacity .3s ease-out;
}

#marker2[is-dragged]{
	opacity: 0.6;
}

#discretAlert{
	position: absolute;
	width: 100vh;
	height: var(--bars-width);
	transform-origin: 0% 0% 0;
	transform: rotate(-90deg);
	left: 0px;
	top:0px;
	transition: top 2s ease-out;
	z-index: 100;
	padding-left: 10px;
	overflow: hidden;
	background: white;

}

#discretAlert[active]{
	top: 100vh;
}

#discretAlert[succes]{
	background: seagreen;
}

#discretAlert[error]{
	background: indianred;
}

#discretAlert[warning]{
	background: coral;
}



#alert{
  position: absolute;
  left: 50vw;
  top: 50vh;
	transform: translateX(-50%) translateY(-50%);
  background: black;
	border: 1px solid white;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
}

#alert div{
	margin: auto;
	padding: 10px;
	transform-origin: top left 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: inline-block;
	max-width: 32vw;
}

#alert p {
	display: inline-block;
	margin: 0px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#alert[succes] div{
	color: green;
	border: 1px solid green;
}

#alert[error] div{
	color: red;
	border: 1px solid red;
}

#alert[warning] div{
	color: yellow;
	border: 1px solid yellow;
}

/* SPLASH SCREEN : Used to put people in stand by
until server capture all fake touch event from camera */

#splash{
  position: absolute;
  left: 0px;
  top: 0px;
  background: black;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
	display: none;
}

#splash[active]{
	display: block;
}

#splash div{
  margin: 0px;
  padding: 0px;
  transform-origin: top left 0;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#splash p {
	margin:0px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: white;
}

.rotated{
  transform-origin: 50% 50% 0;
  transform: rotate(180deg);
}

#export_montage{
  background-image: url(../resources/icons/export.svg), none;
  background-repeat: no-repeat;
  background-position: center;
}

#add_montage{
  background-image: url(../resources/icons/montage.svg), none;
  background-repeat: no-repeat;
  background-position: center;
}

#add_post-it{
  background-image: url(../resources/icons/notes.svg), none;
  background-repeat: no-repeat;
  background-position: center;
}

#activate_voice{
  background-image: url(../resources/icons/vocal.svg), none;
  background-repeat: no-repeat;
  background-position: center;
	margin-top: 5px;
}

#rotationWrap{
  width: 100vw;
  height: 100vh;
}

#rotationButtons{
  z-index:60;
  pointer-events:none;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
}

.rotationButton{
  background-image: url(../resources/icons/turn.svg), none;
  background-repeat: no-repeat;
  width:var(--bars-width);
  background-position: center;
    z-index:30;
    pointer-events:all;
}

#rotationButtonTopLeft{
  position:'absolute';
  left:calc(var(--bars-width)*2);
  top:'0px';
}
#rotationButtonTopRight{
  position:'absolute';
  right:'0px';
  top:'0px';
}
#rotationButtonBottomLeft{
  position:'absolute';
  left:calc(var(--bars-width)*2);
  bottom:'0px';
}
#rotationButtonBottomRight{
  position:'absolute';
  right:'0px';
  bottom:'0px';
}

/*****************************************

MONTAGES

******************************************/

#montageStrip{
	position: absolute;
  top:0px;
  left:var(--bars-width);
  width:var(--bars-width);
  height:100vh;
  background-color:black;
  border-left:1px solid white;
  border-right:1px solid white;
  z-index:3;
  overflow : 'hidden';

}

#montageShutter {
	position: absolute;
	top:0px;
	left: 0px;
  width:50vw;
  height:100vh;
  overflow:hidden;
}

#montageShutter svg{
  height:100vh;
	width: calc(100vw - 3 * var(--bars-width));
}

.montage-label-container {
  height:100vh;
}

/*****************************************

LIBRARIES

******************************************/

#libraryStrip{
	position: absolute;
  top:0px;
  left:50vw;
  width:var(--bars-width);
  height:100vh;
  background-color:black;
  border-left:1px solid white;
  border-right:1px solid white;
  cursor:move;
  z-index:3;
  overflow :hidden;
	font-style: italic;

}

#libraryShutter {
	position: absolute;
	top:0px;
	right:0px;
	width:calc(50vw - 3 * var(--bars-width));
	height: 100vh;
	z-index:2;
	background-color:black;
	padding-bottom: var(--library-margin);
  padding-top: var(--library-margin);
}

#library-books-container{
	height: calc(100vh - 2*var(--library-margin));
}

.library-book-container{
	height: var(--height-book);
}

.library-book-container .slides{
	height: var(--height-page);
}

.book_label {
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	margin-top: 10px;
}

.book_label > .page_ref:before {
	content:"p.";
}

#bonus_container .book_label > .page_ref:before {
	content:"";
}

.book_page {
	height: var(--height-page);
	margin-left:10px;
	margin-right:10px;
	opacity:0.6;
	transition: opacity .3s ease-out;
}

.book_page img{
	height: var(--height-page);
}

.book_page[selected] {
	opacity:1;
}


/* VERTICALS LABELS ON STRIP */

.label-container{
	transform-origin: 0 0 0;
	transform: rotate(-90deg) translateX(-100%) translateY(-50%) translateY(calc(var(--bars-width)*.5));
}

.label-container label{
	text-align: center;
	display: block;
}

#libraryStrip .label-container{
	height: calc(100vh / var(--number-of-books-visible));
	width: calc(100vh / var(--number-of-books-visible));
}

#montageStrip .label-container{
	height: 100vh;
	width: 100vh;
}

.centered-label{
	transform-origin: 0 0 0;
	position: relative;
		top: 50%;
		left:50%;
	transform: translateY(-50%) translateX(-50%);
}

/*****************************************

KEYBOARD

******************************************/

.full-border{
  background: black;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 1px solid white;
  color:white;
  padding: 0px;
}

.two-button{
  float:left;
}

#keyboard{
  background: black;
  margin: 0px;
  padding: 0px;
  z-index:60;
  transform-origin: left top 0;
  position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    width:calc(var(--bars-width)*12);
    height:calc(var(--bars-width)*4.8);

}

.key{
  background: black;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 1px solid white;
  color:white;
  padding: 0px;
  float:left;
  width: var(--bars-width);
  height: var(--bars-width);
  margin: calc(var(--bars-width)*0.1);
}

.key div{
  margin: 0px;
  padding: 0px;
  transform-origin: top left 0;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.key p {
  /*font-size: 1.2em;*/
	margin:0px;
  font-weight: bold;
  text-align: center;
}
